
 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* ==== navbar start ==== */
.navbar-brand img{
    width: 80px;
    height: 20px;
}
.navbar-nav{
    text-align: center;
}
.navbar-toggler{
    color: #36B864 !important;
    font-size: 10px;
}
.navbar-nav{
    gap: 5px !important;
}
.nav-link{
    font-size: 10px;
}
.navBtn{
    text-align: center;
}
.btn{
    padding: 8px 16px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.4s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* ==== navbar end ==== */

/* ==== banner start ==== */
.bannerContent{
    padding: 90px 0;
}
.bannerContent h5{
    font-size: 16px;
    line-height: 90%;
    margin-bottom: 8px;
    max-width: 250px;
}
.bannerContent h1{
    font-weight: 600;
    font-size: 22px;
    line-height: 115%;
    max-width: 330px;
    margin-bottom: 12px;
}
.bannerContent p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
    max-width: 220px;
    margin-bottom: 20px;
}
.bannerBtnFlex{
    gap: 12px;
}
.bannerBtnFlex a{
    padding: 8px 18px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.4s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* ==== banner end ==== */

/* ==== service start ==== */
#service{
    padding: 50px 0 ;
}
.serviceHeading h3{
    font-size: 20px;
    max-width: 300px;
}
.serviceHeading h6{
    font-size: 16px;
}
.serviceHeading p{
    font-size: 12px;
    max-width: 300px;
}
.card-body h5{
    font-size: 12px;
    margin-bottom: 16px;
}
.card-body p{
    font-size: 10px;
    max-width: 350px;
    margin-bottom: 24px;
}

/* ==== service end ==== */

/* ==== service2 start ==== */
#service2{
    padding: 50px 0;
}
.service2Content{
    margin-bottom: 40px;
}
.service2Content h6{
    font-size: 16px;
    margin-bottom: 16px;
}
.service2Content h3{
    font-size: 22px;
    max-width: 327px;
    margin-bottom: 20px;
}
.service2Content p{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 30px;
}
.service2Content a{
    padding: 8px 20px;
    font-size: 12px;
}
.service2Content a:hover{
    background-color: transparent;
    color: #111D15;
    border: 1px solid #666666;
    
}
.service2Img{
    margin-left: 85px;
    position: relative;
}
.service2ImgUp{
    position: absolute;
    bottom: -42px;
    left: -100px;
}
/* ==== service2 end ==== */
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }