/* ====== common css start ====== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
    padding: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    max-width: 1170px !important;
}
/* ===== common css end ===== */

/* ===== navbar css start ======= */
.navbar-nav{
    gap: 29px !important;
    font-family: "Be Vietnam Pro", sans-serif;
}
.nav-item .a{
    color: #4D4D4D;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.nav-item a:hover{
    color: #36B864 !important;
}
.btn{
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
    background-color: #36B864;
    color: white;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    border-radius: 6px;
    transition: all 0.4s;
}
.btn:hover{
    background-color: transparent;
    color: #111D15;
    border: 1px solid #666666;
    
}
/* ======= navbar css end ======= */

/* ====== banner css start ======= */
#banner{
    background: url(../images/pic\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Be Vietnam Pro", sans-serif;
}
.bannerContent{
    padding: 180px 0;
}
.bannerContent h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #111D15;
    margin-bottom: 12px;
}
.bannerContent h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 115%;
    color: #111D15;
    width: 610px;
    margin-bottom: 24px;
}
.bannerContent p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #666666;
    width: 543px;
    margin-bottom: 40px;
}
.bannerBtnFlex{
    display: flex;
    gap: 25px;
}
.bannerBtnFlex a{
    border: 1px solid transparent;
    background-color: #36B864;
    color: white;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    border-radius: 6px;
    transition: all 0.4s;
}

.bannerBtnFlex a:hover{
    background-color: transparent;
    color: #111D15;
    border: 1px solid #666666;
}
/* ====== banner css end ====== */

/* ====== footer css start ====== */
#footer{
    background-color: #111D15;
    padding: 100px 0 20px;
    font-family: "Be Vietnam Pro", sans-serif;
}
.footerLogoPart p{
    margin-top: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    width: 356px;
    opacity: .8;
}
.footerMenu h5{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.footerMenu ul{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.footerMenu ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.footerForm h5{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 26px;
}
.footerForm form input[type="email"]{
    padding: 10px 16px;
    color: #9E9E9E;
    outline: 0;
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: transparent;
    margin-bottom: 26px;
    border: 1px solid #808080;
}
.footerForm form input::placeholder{
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 400;
    
    
}
.footerForm a{
    display: inline-block;
    background-color: #36B864;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #fff;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.footerForm a:hover{
     background-color: white;
    color: #36B864;
    border: 1px solid #36B864 transparent;
    box-shadow: 1px 1px 20px -1px rgba(0,0,0,0.79);
-webkit-box-shadow: 1px 1px 20px -1px rgba(0,0,0,0.79);
-moz-box-shadow: 1px 1px 20px -1px rgba(0,0,0,0.79);
}
.copy{
    margin-top: 64px;
    text-align: center;
    border-top: 1px solid #D9D9D9;
}
.copy h6{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 24px;
}
/* ====== footer css end ====== */





/* font-family: "Be Vietnam Pro", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "Oregano", cursive; */
/* font-family: "Outfit", sans-serif; */
/* font-family: "Lato", sans-serif; */