/* ====== common css start ====== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    max-width: 1170px !important;
}
/* ===== common css end ===== */

/* ===== navbar css start ======= */
.navbar-nav{
    gap: 29px !important;
    font-family: "Be Vietnam Pro", sans-serif;
}
.nav-item .a{
    color: #4D4D4D;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.nav-item a:hover{
    color: #36B864 !important;
}
.btn{
     font-family: "Poppins", sans-serif;
    border: none;
    background-color: #36B864;
    color: white;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    border-radius: 6px;
    transition: all 0.4s;
}
.btn:hover{
    background-color: white;
    color: #36B864;
    border: 1px solid #36B864 transparent;
    box-shadow: 1px 1px 20px -1px rgba(0,0,0,0.79);
-webkit-box-shadow: 1px 1px 20px -1px rgba(0,0,0,0.79);
-moz-box-shadow: 1px 1px 20px -1px rgba(0,0,0,0.79);
    
}
/* ======= navbar css end ======= */

/* ====== banner css start ======= */
#banner{
    padding: 104px 0;
    background: url(../images/pic\ 2.png);
    font-family: "Be Vietnam Pro", sans-serif;
}
.bannerContent h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #111D15;
    padding-bottom: 12px;
}
.bannerContent h1{
    font-weight: bold;
    font-size: 52px;
    line-height: 115%;
}
/* ====== banner css end ====== */

/* ====== footer css start ====== */
#footer{
    background-color: #111D15;
    padding-top: 100px;
    font-family: "Be Vietnam Pro", sans-serif;
}
.footerLogoPart p{
    margin-top: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    width: 356px;
    opacity: .8;
}
/* ====== footer css end ====== */





/* font-family: "Be Vietnam Pro", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "Oregano", cursive; */
/* font-family: "Outfit", sans-serif; */
/* font-family: "Lato", sans-serif; */